<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199324793094-d0k0m4shhdjlplef452mommbbka75j4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199324793094-d0k0m4shhdjlplef452mommbbka75j4b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>199324793094-8hes70grpf06cits2pqu7gvpn1hr5rgg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVJlbsgfadX2JM0lNHSOZwF3GxG4UIuxY</string>
	<key>GCM_SENDER_ID</key>
	<string>199324793094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFirestore</string>
	<key>PROJECT_ID</key>
	<string>auth-38ee4</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-38ee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199324793094:ios:59cfff1f0333a8da328687</string>
</dict>
</plist>